@layer base {
  :root {
    --made-with-panda: '🐼';
    }

  *, *::before, *::after, ::backdrop {
    --blur:   ;
    --brightness:   ;
    --contrast:   ;
    --grayscale:   ;
    --hue-rotate:   ;
    --invert:   ;
    --saturate:   ;
    --sepia:   ;
    --drop-shadow:   ;
    --backdrop-blur:   ;
    --backdrop-brightness:   ;
    --backdrop-contrast:   ;
    --backdrop-grayscale:   ;
    --backdrop-hue-rotate:   ;
    --backdrop-invert:   ;
    --backdrop-opacity:   ;
    --backdrop-saturate:   ;
    --backdrop-sepia:   ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
    }

  body {
    min-height: 100vh;
    margin: auto;
    }

  body,header {
    background: var(--colors-theme);
    color: var(--colors-primary);
    }

  header {
    height: 4rem;
    position: fixed;
    top: var(--spacing-0);
    z-index: 100;
    }

  main {
    border: 1px solid;
    border-color: var(--colors-red-500);
    }

  @media screen and (min-width: 768px) {
    body {
      width: var(--sizes-breakpoint-md);
        }

    header {
      height: 6rem;
        }

    main {
      margin-top: 6rem;
        }
    }

  @media screen and (min-width: 1024px) {
    body {
      width: var(--sizes-breakpoint-xl);
        }
    }
}